{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bt\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bt\css\custm.css' %}">
    {% block title %}
    <title>DSL</title>
    {% endblock title %}
</head>
<body >
        
        <nav class="navbar navbar-expand-md  navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample07" style="">
          {% if not request.user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'auth_login' %}">Sign In </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth_reg' %}">Sign Up</a>
            </li>
              </ul>
              
                {% else %}

            <ul class="navbar-nav ml-auto navbar-right "> 
              <li class="nav-item fab fa-image   " ></li>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{{ request.user.thumbnail_pro_pic.url }}" alt="menu" class="d-inline-block img-thumbnail " onerror=this.src="{% static 'default_pro_pic.png' %}" height="40" width="40" >
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown07">
                <a class="dropdown-item" href="{% url 'password_change' %}"> Change Password</a>
                <a class="dropdown-item" href="{% url 'auth_update' %}"> Profile</a>
                <hr>
                <a class="dropdown-item " href="{% url 'auth_logout' %}"> Logout</a>
              </div>
            </li>
            </ul>
                {% endif %}
          </ul>

        </div>
      </div>
    </nav>

    {% block content %}

        hiii
    {% endblock content %}
    <script src=" {% static 'bt\js\jquery-3.2.1.slim.min.js' %} "></script>
    <script src=" {% static 'bt\js\bootstrap.min.js' %} "></script>
    <script src=" {% static 'bt\js\popper.min.js' %} "></script>
    <script src=" {% static 'bt\js\custm.js' %} "></script>
</body>
</html>